.DS_Store
# *.jpg
# *.svg
assets/**/*.svg
*.map

assets/fonts
content/*
kirby
panel
site/*
!site/blueprints
!site/templates
!site/snippets
thumbs
index.php
.htaccess
.sass-cache
node_modules
.babelrc
gulpfile.babel.js
static/objects
static/assets/css/*.scss
static/**/*.txt