*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  color: black;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block; }

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  background: none;
  cursor: pointer; }

button:focus {
  outline: none; }

body.intro .flickity-prev-next-button {
  height: 100vh; }

.flickity-prev-next-button {
  height: 100vh;
  width: 50vw;
  background: none;
  border-radius: 0;
  top: auto;
  transform: none;
  bottom: 0;
  position: fixed; }

.flickity-prev-next-button:hover {
  background: none;
  opacity: 0; }

.flickity-prev-next-button.next {
  right: 0; }

.flickity-prev-next-button.previous {
  left: 0; }

.flickity-prev-next-button svg {
  display: none; }

/* GENERAL SETUP */
html {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif; }

body {
  line-height: 1;
  line-height: 1.35; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative; }

#carousel {
  opacity: 0; }

a:hover {
  border: none; }

.wrapper .closed {
  display: none; }
.wrapper .open {
  display: block; }

svg {
  stroke: #000; }

.open + button svg {
  stroke: #fff; }

/* NAVIGATION */
.title-card header {
  display: none; }

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1; }
  header .grid {
    height: auto; }

#slide-index {
  grid-column: 2 / 4; }

#object-information {
  grid-column: 4 / 8; }

header nav {
  grid-column: 14 / 17; }

/* STRUCTURE */
h1 {
  font-size: 12.5vw;
  grid-column: 2/17;
  letter-spacing: -.05em;
  line-height: .825em; }

main .slide {
  width: 100%;
  height: 100vh; }

.grid {
  width: 100%;
  height: calc(100vh - (2.25rem * 2));
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 1.5rem;
  padding: 2.25rem; }

/* OBJECTS */
.object .image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center; }
.object img {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  user-select: none; }

/* ASIDE */
aside {
  display: none;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0; }
  aside .grid {
    height: auto; }

#close {
  font-size: 5rem;
  position: fixed;
  right: 2rem;
  top: 4px;
  z-index: 3; }

/* INFORMATION PAGE */
.information {
  display: none;
  top: 0;
  left: 0; }
  .information p {
    line-height: 1.05;
    font-size: 3.75rem;
    letter-spacing: -.025em; }
  .information p + p {
    text-indent: 2em; }
  .information a {
    border-bottom: 2px solid #000;
    padding-bottom: 4px; }

.information-wrapper {
  margin-top: -1rem;
  grid-column: 2 / 15; }

/* INDEX PAGE */
#index {
  background: #000;
  height: auto;
  top: 0;
  z-index: 2; }
  #index * {
    color: #fff;
    height: auto; }

ul {
  font-size: 1.375rem;
  line-height: 1.5;
  grid-column: 10/16;
  border-width: 1px;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  column-rule: 1px solid #fff;
  padding: 0 1rem;
  column-count: 2;
  column-gap: 1.5rem;
  column-fill: auto;
  color: white;
  list-style: none; }
  ul li {
    text-indent: -1.5rem;
    margin-left: 1.5rem; }
    ul li > span {
      display: none; }
    ul li a {
      display: block; }
      ul li a span {
        pointer-events: none; }
    ul li a:hover span {
      border-bottom: 1px solid #fff; }

.line {
  border-right: 1px solid #fff;
  grid-column: 1/2; }

#number {
  font-size: calc(40vw);
  font-family: "Neue Haas Grotesk Display Pro";
  letter-spacing: -.045em;
  line-height: .75;
  grid-column: 2 / 8;
  top: 1rem;
  position: fixed;
  left: calc(100%/16 + 1.25rem); }

/* MEDIA QUERIES */
@media screen and (min-width: 1600px) {
  #number {
    font-size: 40rem; } }
@media screen and (max-width: 1600px) {
  .information p {
    font-size: 3rem; } }
@media screen and (max-width: 1400px) {
  /* INDEX PAGE */
  ul {
    column-count: 1; } }
@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(12, 1fr); }

  header nav {
    grid-column: 10/13; }

  .information-wrapper {
    grid-column: 1/12; }

  .information p {
    font-size: 2.5rem; }

  /* INDEX PAGE */
  ul {
    grid-column: 8/12; }

  #number {
    left: calc(100%/12 + 1.5rem); } }
@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: .75rem;
    padding: 1.25rem; }

  h1 {
    font-size: 14.425vw;
    grid-column: 1/9; }

  #slide-index {
    grid-column: 1/2; }

  #object-information {
    grid-column: 3/7; }

  header nav {
    grid-column: 7/8; }

  .information-wrapper {
    grid-column: 1/8; }

  .information p {
    font-size: 1.5rem;
    line-height: 1.2; }

  /* INDEX PAGE */
  #number {
    display: none; }

  ul {
    column-count: 2;
    grid-column: 1/9;
    border: none;
    padding: 0; }
    ul li {
      text-indent: -25px;
      margin-left: 50px; }
      ul li > span {
        display: inline-block;
        width: .25rem; }
      ul li a {
        display: inline;
        margin-left: 1rem; }

  #close {
    top: auto;
    right: 1.5rem;
    bottom: 0; } }
@media screen and (max-width: 600px) {
  /* INDEX PAGE */
  ul {
    column-count: 1; } }
@media screen and (max-width: 480px) {
  #object-information {
    grid-column: 3/9; }

  header nav {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1.25rem; }

  .information-wrapper {
    grid-column: 1/9; }

  #close {
    top: auto; } }

/*# sourceMappingURL=index.css.map */
