@charset "UTF-8";
@import 'reset';
@import 'variables';
@import 'flickity-override';

/* General Setup */

html {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
}

body {
  line-height: 1;
  line-height: 1.35;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

#carousel {
  opacity: 0;
}

a:hover {
  border: none;
}

.wrapper .closed {
  display: none;
}

.wrapper .open {
  display: block;
}

svg {
  stroke: #000;
}

.open + button svg {
  stroke: #fff;
}

/* Navigation */

.title-card header {
  display: none;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

header .grid {
  height: auto;
}

#slide-index {
  grid-column: 2 / 4;
}

#object-information {
  grid-column: 4 / 8;
}

header nav {
  grid-column: 14 / 17;
}

/* Structure */

h1 {
  font-size: 12.5vw;
  grid-column: 2/17;
  letter-spacing: -.05em;
  line-height: .825em;
}

main .slide {
  width: 100%;
  height: 100vh;
}

.grid {
  // width: calc(100% - (2.25rem * 2));
  width: 100%;
  height: calc(100vh - (2.25rem * 2));
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: $gutter;
  padding: $margin;
}

/* Objects */

.object .image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.object img {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  user-select: none;
}

/* Aside */

aside {
  display: none;
  background: #fff;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: 999;
  left: 0;
}

aside .grid {
  height: auto;
}

#close {
  font-size: 5rem;
  position: fixed;
  right: 3rem;
  top: 4px;
  z-index: 9;
}

/* Information Page */

.information {
  display: none;
  top: 0;
  left: 0;
  z-index: 9;
}

.information-wrapper {
  margin-top: -1rem;
  grid-column: 2 / 15;
}

.information p {
  line-height: 1.05;
  font-size: 3.75rem;
  letter-spacing: -.025em;
}

.information p + p {
  text-indent: 2em;
}

.information a {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
}

/* Index Page */ 

#index {
  background: #000;
  height: auto;
  // position: absolute;
  top: 0;
  z-index: 9;
  // display: none;
}

#index * {
  color: #fff;
  height: auto;
}

.line{
  border-right: 1px solid #fff;
  grid-column: 1/2;
}

#number {
  font-size: calc(40vw);
  font-family: "Neue Haas Grotesk Display Pro";
  letter-spacing: -.045em;
  line-height: 0.75;
  grid-column: 2 / 8;
  top: 1rem;
  position: fixed;
  left: calc(((100% - 4.5rem)/12)); // + .75rem for perfect grid fit
}

#index ul {
  font-size: 1.375rem;
  line-height: 1.5;
  grid-column: 11 / 16;
  column-rule: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 1rem;
  column-count: 2;
  column-gap: $gutter; 
  column-fill: auto;
}

#index ul > p {
  column-span: all;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: .1em;
}

#index li {
  text-indent: -$indent;
  margin-left: $indent;
}

#index li, #index a {
  display: block;
  width: calc(100% - $indent);
}

#index span {
  pointer-events: none;
}

#index li a:hover span {
  border-bottom: 1px solid #fff;
}

/* Debugging */

pre {
  font-size: 21px !important;
  letter-spacing: 1px !important;
}


@media screen and (min-width: 1600px) {
  #number {
     font-size: 40rem;
  }
}

@media screen and (max-width: 1600px) {
  .information p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1200px) {

  .information-wrapper {
    grid-column: 1/15;
  }

  .information p {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 0.75rem;
    padding: 1.25rem;
  }

  h1 {
    font-size: 14.425vw;
    grid-column: 1/9;
  }

  #slide-index {
    grid-column: 1/2;
  }

  #object-information {
    grid-column: 3/7;
  }

  header nav {
    grid-column: 7/8;
  }

  .information-wrapper {
    grid-column: 1/8;
  }

  .information p {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}


@media screen and (max-width: 480px) {

  #object-information {
    grid-column: 3/9;
  }

  header nav {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    z-index: -9;
  }

  .information-wrapper {
    grid-column: 1/9;
  }

  #close {
    top: auto;
    bottom: 1rem;
    // right: 2rem;
  }
}