@charset "UTF-8";
@import 'reset';
@import 'variables';
@import 'flickity-override';
@import 'fonts';

/* GENERAL SETUP */

html {
  font-family: "Haas Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1;
  line-height: 1.35;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

#carousel {
  opacity: 0;
}

svg {
  stroke: #000;
}

.open + button svg {
  stroke: #fff;
}

/* NAVIGATION */

.title-card header {
  display: none;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  .grid {
    height: auto;
  }

  nav {
    grid-column: 14 / 17;
  
    button:hover span {
      border-bottom: 1px solid #000;
    }
  }

  &.closed {
    display: none;
  }
}

#slide-index {
  grid-column: 2/4;
}

#object-information {
  grid-column: 4/8;
}

#object-title {
  text-indent: -1rem;
  margin-left: 1rem;
}


/* STRUCTURE */

h1 {
  font-family: "Dead Objects", "Helvetica Neue", Arial, sans-serif;
  font-size: 11.5vw;
  grid-column: 2/17;
  letter-spacing: -.03em;
  line-height: .825em;
}

.slide {
  width: 100%;
  height: 100vh;
}

.grid {
  width: 100%;
  height: calc(100vh - (2.25rem * 2));
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: $gutter;
  padding: $margin;
}

/* OBJECTS */

.object {
  .image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  img {
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    user-select: none;
    opacity: 0;
    transition: opacity .5s;
    // animation: glowing 1500ms infinite;
  }

  .flickity-lazyloaded {
    opacity: 1;
    // animation: none;
  }
}

// @keyframes glowing {
//   0% { opacity: 1; }
//   50% { opacity: 0; }
//   100% { opacity: 1; }
// }

/* ASIDE */

aside {
  display: none;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;

  .grid {
    height: auto;
  }

  > section {
    display: none;
  }

  &.open,
  > section.open {
    display: block;
  }
}

#close-button {
  position: fixed;
  top: 2.135rem;
  right: 2.135rem;
  z-index: 3;
}

/* INFORMATION PAGE */

.information {
  display: none;
  top: 0;
  left: 0;
  height: auto;

  p {
    line-height: 1.05;
    font-size: 4rem;
    letter-spacing: -.025em;
  }

  p + p {
    text-indent: 2em;
  }

  a {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;

    &:hover {
      border: none;
    }
  }
}

.information-wrapper {
  margin-top: -1rem;
  grid-column: 2 / 15;
}

/* INDEX PAGE */ 

#index {
  background: #000;
  height: auto;

  * {
    color: #fff;
  }

  .sorting {
    position: fixed;
    right: 1.75rem;
    top: 6.5rem;

    button {
      width: $sortButton;
      height: $sortButton;
      border: 1px solid #fff;
      border-radius: $sortButton/2;
      margin-bottom: 1rem;
      background: #000;
      z-index: 9;
    }

    .selected {
      color: #000;
      background: #fff;
    }
  }
}

ul {
  font-size: 1.375rem;
  line-height: 1.5;
  grid-column: 10/16;
  column-count: 2;
  column-gap: $gutter; 
  // column-fill: auto;
  column-rule: 1px solid #fff;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  padding: 0 1rem;

  li {
    text-indent: -$indent;
    margin-left: $indent;

    > span {
      display: none;
    }

    a {
      display: block;

      span {
        // This allows the display number to change
        // when hovering on the span element
        pointer-events: none;
      }
    }

    a:hover span {
      border-bottom: 1px solid #fff;
    }
  }
}

.line {
  border-right: 1px solid #fff;
  grid-column: 1/2;
}

#number {
  font-family: "Haas Numbers", "Helvetica Neue", Arial, sans-serif;
  font-size: 30vw;
  letter-spacing: -.045em;
  line-height: .75;
  position: fixed;
  top: 1rem;
  left: calc(100%/16 + 1.25rem);
}

@import '404';
@import 'media-queries';