// 1600 //////////////////////////////

@media screen and (min-width: 1600px) {

    #number {
        font-size: 35rem;
    }

}

@media screen and (max-width: 1600px) {

    .information p {
        font-size: 3rem;
    }

}

// 1400 //////////////////////////////
  
@media screen and (max-width: 1400px) {

    ul {
        column-count: 1;
    }
    
}

// 1200 //////////////////////////////
  
@media screen and (max-width: 1200px) {

    .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    header nav {
        grid-column: 10/13;
    }

    .information-wrapper {
        grid-column: 1/12;
    }

    .information {
        a {
            border-width: 1px;
            padding-bottom: 2px;
        }

        p {
            font-size: 2.5rem;
        }
    }

    h1 {
        grid-column: 2/11;
    }

    /* INDEX PAGE */
  
    #number {
        display: none;
    }
  
    ul {
        column-count: 3;
        column-gap: 3rem;
        grid-column: 1/12;
    
        border: none;
        padding: 0;
  
        li {
            text-indent: -25px;
            margin-left: 50px;
    
            > span {
                display: inline-block;
                width: .25rem;
            }
        
            a {
                display: inline;
                margin-left: 1rem;
            }
        }
    }
}

// 1024 //////////////////////////////

@media screen and (max-width: 1024px) {

    ul {
        column-count: 2;
    }

}

// 800 //////////////////////////////
  
@media screen and (max-width: 800px) {

    .grid {
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: .75rem;
        padding: 1.25rem;
    }
  
    h1 {
        font-size: 14.425vw;
        grid-column: 1/9;
    }
  
    #slide-index {
        grid-column: 1/2;
    }
  
    #object-information {
        grid-column: 3/7;
    }
  
    header nav {
        grid-column: 7/8;
    }
  
    .information-wrapper {
        grid-column: 1/8;
        margin-top: -.25rem;
    }
  
    .information p {
        font-size: 1.75rem;
        line-height: 1.2;
    }

    /* INDEX PAGE */

    ul {
        grid-column: 1/9;
    }


}

// 600 //////////////////////////////
  
  @media screen and (max-width: 600px) {

    #close-button {
        top: auto;
        right: 1.5rem;
        bottom: 1.25rem;
    }
  
    /* INDEX PAGE */

    #index {
        .sorting {
            top: 1.25rem;
            right: 1.25rem;
        }
    }
    
    .information-wrapper {
        grid-column: 1/9;
    }
  
    ul {
        column-count: 1;
    }

    /* 404 PAGE NOT FOUND */
  
    .error {
        margin: 1rem;
  
        p {
            font-size: 3rem;
            line-height: 1.1;
        }
    }

}
  
// 480 //////////////////////////////

@media screen and (max-width: 480px) {

    body {
        line-height: 1.4;
    }

    #object-information {
        grid-column: 3/9;
    }
  
    header nav {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1.25rem;
    }
  
    #close {
        top: auto;
    }

    .information {
        p {
            font-size: 1.375rem;
            line-height: 1.2;
        }

        a {
            padding-bottom: 0;
        }
    }
    
}