*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  list-style: none;
}
  
article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}